@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.corp {
    display: flex;
  }
  
  .corp .img {
    width: 50vw;
    height: 100vw;
  }
  
  .corp .con {
    width: 50vw;
    height: 100vw;
  }

  body{
    background-color: aliceblue;
  }