@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    height: 60px;
    width: 100vw;
    background-color: #444444;
    color: aliceblue;
}

.med2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    padding: 10px 10px 10px 20px;
    margin-bottom: 23px;
}

body {
    background-color: #f4f4f4;
}

header ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
}

header ul li{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

header ul li:hover{
    transform: scale(1.05);
}

header a{
    color: aliceblue;
    text-decoration: none;
}

.logo {
    width: 80px;
    height: 80px;
    position: relative;
    top: -9px;
    left: 8%;
    right: 9%;
}


h2 {
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2668ad;
    text-decoration: none;
    font-weight: bold;
}

.med1{
    display: none;
}

.modif{
    width: 45px;
}

@media (max-width: 1370px){
    .med2{
        display: none;
    }

    .med1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icomob{
        margin-bottom: 20px;
        margin-left: 25px;
        margin-right: 25px;
    }
}



