@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #444444;
    color: aliceblue;
}

header h1{
    padding: 10px 10px 10px 20px;
}

body {
    background-color: #f4f4f4;
}

header ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 10px;
}

header ul li{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

header ul li:hover{
    transform: scale(1.05);
}

header a{
    color: aliceblue;
    text-decoration: none;
}

header img{
    width: 80px;
    height: 80px;
    position: relative;
    top: -9px;
    left: 8%;
    right: 9%;
}


